:root {
    font-size: 62.5%;

    --primary-color: #000000;
    --secondary-color: #A9A9A9;
    --bg-color: #FAFAFA;
    
    --fs-xlg: 3.6rem;
    --fs-lg: 1.8rem;
    --fs-md: 1.4rem;
    --fs-sm: 1.2rem;
    --fs-xsm: 1rem;

    --f-family-poppins: 'Poppins', sans-serif;
    --f-family-pt-serif: 'PT Serif', serif;
    --f-family-montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: var(--bg-color);
    margin: 0 2rem;
}

.header{
    max-width: 920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 7rem auto;
}

.header__title {
    font-size: var(--fs-xlg);
    font-weight: 700;
    font-family: var(--f-family-pt-serif);
    padding: 6.5rem 0 4rem 0;

}

.header__subtitle {
    font-size: var(--fs-lg);
    font-weight: 600;
    font-family: var(--f-family-poppins);
    padding-bottom: 1rem;
}

.header__desc {
    font-size: var(--fs-md);
    font-weight: 400;
    font-family: var(--f-family-poppins);
}

@media (min-width: 640px) {
    .header {
        flex-direction: row;
    }

    .header__title {
        max-width: 55%;
    }

    .header__desc-box {
        max-width: 40%;
        padding: 7rem 0 4rem 0;
    }
}

@media (min-width: 920px) {
    .header__title {
        padding-top: 10.5rem;
    }
    
    .header__desc-box {
        padding-top: 11rem;
    }

    .header__desc {
        font-size: var(--fs-lg);
    }
}