:root {
    font-size: 62.5%;

    --primary-color: #000000;
    --secondary-color: #A9A9A9;
    --bg-color: #FAFAFA;
    
    --fs-xlg: 3.6rem;
    --fs-lg: 1.8rem;
    --fs-md: 1.4rem;
    --fs-sm: 1.2rem;
    --fs-xsm: 1rem;

    --f-family-poppins: 'Poppins', sans-serif;
    --f-family-pt-serif: 'PT Serif', serif;
    --f-family-montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: var(--bg-color);
    margin: 0 2rem;
}

.header{
    max-width: 920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 7rem auto;
}

.header__title {
    font-size: var(--fs-xlg);
    font-weight: 700;
    font-family: var(--f-family-pt-serif);
    padding: 6.5rem 0 4rem 0;

}

.header__subtitle {
    font-size: var(--fs-lg);
    font-weight: 600;
    font-family: var(--f-family-poppins);
    padding-bottom: 1rem;
}

.header__desc {
    font-size: var(--fs-md);
    font-weight: 400;
    font-family: var(--f-family-poppins);
}

.wrapper {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.wrapper__crew-member {
    display: flex;
    margin-bottom: 9.2rem;
}

.wrapper__crew-member:nth-of-type(even) {
    transform: translateY(5rem);
}

.wrapper__image {
    max-width: 138px;
    width: 100%;
    height: 209px;
}

.wrapper__crew-name {
    font-size: var(--fs-md);
    font-weight: 600;
    font-family: var(--f-family-poppins);
}

.wrapper__crew-job {
    width: 7rem;
    height: 1.5rem;
    font-size: var(--fs-xsm);
    font-weight: 400;
    font-family: var(--f-family-pt-serif);
    transform: rotate(90deg) translateY(-11.1rem) translateX(2.8rem);
    position: absolute;
}

.footer {
    text-align: center;
    margin-bottom: 2.4rem;
    margin-top: 8.4rem;
}

.footer__text {
    font-size: var(--fs-md);
    font-weight: 500;
    font-family: var(--f-family-montserrat);
    color: var(--secondary-color);
}

.footer__text a {
    color: var(--secondary-color);
    font-weight: 700;
}

@media (min-width: 640px) {
    .header {
        flex-direction: row;
    }

    .header__title {
        max-width: 55%;
    }

    .header__desc-box {
        max-width: 40%;
        padding: 7rem 0 4rem 0;
    }

    .wrapper {
        max-width: 705px;
    }

    .wrapper__image {
        max-width: 238px;
        width: 238px;
        height: 341px;
    }

    .wrapper__crew-name {
        font-size: var(--fs-lg);
    }

    .wrapper__crew-job {
        width: 8rem;
        font-size: var(--fs-sm);
        transform: rotate(90deg) translateY(-21.2rem) translateX(3.2rem);
    }
}

@media (min-width: 920px) {
    .header__title {
        padding-top: 10.5rem;
    }
    
    .header__desc-box {
        padding-top: 11rem;
    }

    .header__desc {
        font-size: var(--fs-lg);
    }

    .wrapper {
        max-width: 920px;
    }

    .wrapper__crew-member {
        margin-bottom: 12.6rem;
    }

    .wrapper__crew-member:nth-of-type(even) {
        transform: translateY(0rem);
    }

    .wrapper__crew-member:nth-of-type(2) {
        transform: translateY(8rem);
    }

    .wrapper__crew-member:nth-of-type(5) {
        transform: translateY(8rem);
    }

    .wrapper__crew-job {
        transform: rotate(90deg) translateY(-21.7rem) translateX(3.2rem);
    }

    .footer {
        margin-top: 9.8rem;
    }
}